[req]
distinguished_name = subject
x509_extensions = extensions
prompt = no

[subject]
CN = Dikte Native Local Signing
O = Türker Denizer Local Development

[extensions]
basicConstraints = critical,CA:false
keyUsage = critical,digitalSignature
extendedKeyUsage = codeSigning
subjectKeyIdentifier = hash
